---

# Users
users:
    - USER_A
    - USER_B
ssh_keys:
    USER_A:
        - "{{ lookup('file', '../keys/1.pub') }}"
        - "{{ lookup('file', '../keys/2.pub') }}"
        - "{{ lookup('file', '../keys/3.pub') }}"
    USER_B:
        - "{{ lookup('file', '../keys/4.pub') }}"

# Fail2Ban
fail2ban:
    receiver: MAIL
    smtp:
        host: SMTP.URL
        port: 587
        user: MAIL
        password: PASSWORD
    servername: ServerName

# Monit
monit_smtp_url: SMTP
monit_smtp_port: PORT
monit_smtp_password: XXX
monit_smtp_user: EMAIL
monit_smtp_recipient: EMAIL
monit_httpd_password: XXX
monit_status_domain: EMAIL

# Let's encrypt
letsencrypt_email: EMAIL

# Locales
locales: 
    - fr_FR.UTF-8
    - en_US.UTF-8
default_locale: fr_FR.UTF-8
timezone: Europe/Paris

# Hostname
default_ip: IP
fqdn: URL
hostname: URL

# Pole Emploi
pole_emploi_domain: DOMAIN.URL
pole_emploi_description: DESC
pole_emploi_port: 3001

# NodeJS
nodejs_version: 10.x
npm_config_prefix: "/usr/local/lib/npm"
nodejs_user: some_user_that_will_be_node

# Pong Server
pong_server_domain: URL.COM

# Expert System
expert_system_domain: URL.Com
expert_system_description: DESC
expert_system_port: 3002

# Machine Learning
machine_learning_domain: DOMAIN.FR

# Codi MD
codimd:
    domain: <url>
    port: <int>
    path: <absolute-path>

# Docker
docker_users: 
    - oriamn
    - ocyhc
docker_edition: "ce"
docker_channel: "stable"
docker_version: "latest"
docker_install_docker_compose: True
docker_compose_version: "1.22.0"
docker_apt_key_id: "9DC858229FC7DD38854AE2D88D81803C0EBFCD88"
docker_apt_key_server: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
docker_apt_repository: "deb [arch=amd64] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} {{ docker_channel }}"
docker_apt_cache_time: 86400

# Telegram Bot
telegram_bot:
  token: <string>
  path: /opt/telegram_bot
  port: <int>
  domain: <url>
  description: <string>
  smtp:
    user: <email>
    password: <password>
    host: <url>
    port: <int>
    secure: <boolean>
