---

# COMMONS #
users:
    - USER_A
    - USER_B
ssh_keys:
    USER_A:
        - "{{ lookup('file', '../keys/1.pub') }}"
        - "{{ lookup('file', '../keys/2.pub') }}"
        - "{{ lookup('file', '../keys/3.pub') }}"
    USER_B:
        - "{{ lookup('file', '../keys/4.pub') }}"

custom_bin:
    path: /opt/custom_bin

default_ip: <ip>
fqdn: <url>
hostname: <url>

# Locales
locales: 
    - fr_FR.UTF-8
    - en_US.UTF-8
default_locale: fr_FR.UTF-8
timezone: Europe/Paris
# END COMMONS #

# Fail2Ban
fail2ban:
    receiver: MAIL
    smtp:
        host: SMTP.URL
        port: 587
        user: MAIL
        password: PASSWORD
    servername: ServerName

# Monit
monit:
  domain: status.epsi-bordeaux.fr
  recipient: contact@epsi-bordeaux.fr
  web_password: <password>
  smtp:
    host: mail.gandi.net
    port: 587
    user: no-reply@epsi-bordeaux.fr
    password: <password>

# Let's encrypt
letsencrypt_email: EMAIL

# Pole Emploi
pole_emploi_domain: DOMAIN.URL
pole_emploi_description: DESC
pole_emploi_port: 3001

# NodeJS
node:
  version: 10.x
  npm_prefix: "/usr/local/lib/npm"
  user: node_user

# Pong Server
pong_server_domain: URL.COM

# Expert System
expert_system:
  path: <absolute-path>
  domain: <url>
  description: <string>
  port: <int>

# Machine Learning
machine_learning:
    domain: <url>

# Codi MD
codimd:
    domain: <url>
    port: <int>
    path: <absolute-path>

# Docker
docker:
  edition: "ce"
  version: "latest"
  compose:
    install: True
    version: "1.22.0"
  users: []
  apt:
    key_id: "9DC858229FC7DD38854AE2D88D81803C0EBFCD88"
    key_server: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
    repository: "deb [arch=amd64] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    cache_time: 86400

# Telegram Bot
telegram_bot:
  token: <string>
  path: /opt/telegram_bot
  port: <int>
  domain: <url>
  description: <string>
  smtp:
    user: <email>
    password: <password>
    host: <url>
    port: <int>
    secure: <boolean>
