map $http_user_agent $log_ua {
	~Monit 0;
	~UptimeRobot/2.0 0;

	default 1; 
}

server {
	include includes/listen-https;
	server_name {{ machine_learning_domain }};
	root /var/www/{{ machine_learning_domain }}/tools;
	index index.php;

	include includes/acme-challenge;
	include includes/common;
    include includes/php;


	add_header Content-Security-Policy "frame-ancestors 'none'; object-src 'none'";
	add_header X-Frame-Options DENY;
	add_header X-Content-Type-Options nosniff;
	add_header X-XSS-Protection "1; mode=block";
	add_header Referrer-Policy "no-referrer, strict-origin-when-cross-origin";

	access_log /var/log/nginx/{{ machine_learning_domain }}.access.log combined if=$log_ua;
	error_log /var/log/nginx/{{ machine_learning_domain }}.error.log;

	location ~ /.cache/ {
		allow all;
	}

	include includes/ssl-stapling;
	include includes/ssl-hsts;

	ssl_certificate         /etc/letsencrypt/live/{{ machine_learning_domain }}/fullchain.pem;
	ssl_certificate_key     /etc/letsencrypt/live/{{ machine_learning_domain }}/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/{{ machine_learning_domain }}/chain.pem;
}

server {
	include includes/listen-http;
	include includes/acme-challenge;
	include includes/common;
	server_name {{ machine_learning_domain }};
	return 301 https://$host$request_uri;
}