all:
    hosts:
        binome-root:
            ansible_port: 22
            ansible_host: ssh.epsi-bordeaux.fr
            ansible_user: root
        binome:
            ansible_port: 22
            ansible_host: ssh.epsi-bordeaux.fr
            ansible_user: ocyhc

