[Unit]
Description={{ telegram_bot.description }}

[Service]
ExecStart=/usr/bin/node {{ telegram_bot.path }}/src/index.js
# Required on some systems
WorkingDirectory={{ telegram_bot.path }}
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=telegram_bot
User={{ nodejs_user }}
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target