[Unit]
Description={{ expert_system.description }}

[Service]
ExecStart=/usr/bin/node {{ expert_system.path }}/app/index.js
# Required on some systems
#WorkingDirectory={{ expert_system.path }}
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=expert_system
User={{ node.user }}
#Group=<alternate group>
Environment=NODE_ENV=production PORT={{ expert_system.port }}

[Install]
WantedBy=multi-user.target
